name: translation_manager
description: A lightweight, GetX-inspired translation library for Flutter with automatic locale detection and Bloc integration.
version: 1.0.0
homepage: https://github.com/edkluivert/translation_manager
repository: https://github.com/edkluivert/translation_manager
issue_tracker: https://github.com/edkluivert/translation_manager/issues

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter: